<%- include("partials/header")-%> 

<div class="container cart-container">

    <div class="card text-center ">
        <div class="card-header">
          Cart
        </div>
        <div class="card-body">
          <h5 class="card-title">Your Cart Items</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <%item.forEach(element => {%>
               
                <tr>
                  <form action="/delete/<%=element._id%>" method="POST">
                  <td><%=item.indexOf(element)+1%></td>
                  <td><%=element.name%></td>
                  <td><%= element.quantity %> </td>
                  <td><%=element.price%></td>
                  <input type="hidden" name="<%=element.name%> " value="<%=element._id %> ">
                  <td> <button type="submit" class="btn">delete</button></td>
                </form>

                </tr>
                <tr>
              <%});%>
             
              

            </tbody>
          </table>
          <p class="total">Total: <%= total %> ₹ </p>
          <div class="cart-btns">
            
          <a href="/" class="btn btn-cart">Shop More</a>
          <a href="#" class="btn btn-cart">BUY</a>
        </div>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
</div>


<%- include("partials/footer")-%> 