<%- include("partials/header")-%> 

<div class="container cart-container">

    <div class="card text-center ">
        <div class="card-header">
          Cart
        </div>
        <div class="card-body">
          <h5 class="card-title">Your Cart Items</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <%item.forEach(element => {%>
               
                <tr>
                  <form id="delete<%=element._id%>" action="/delete/<%=element._id%>" method="POST"> </form>
                  <form id="increment<%=element._id%>" action="/increment/<%=element._id%>" method="POST"> </form>

                  <td><%=item.indexOf(element)+1%></td>
                  <td><%=element.name%></td>
                  <td>
                    <div class="quantity-container"><%= element.quantity %> 
                      
                  <div class="icrement">
                    <div class="svg">
                    <button type="submit" form="increment<%=element._id%>" class="btn-quantity">
                      
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                    </svg>
                    
                  </button>
                  </div>
                  <div class="svg">
                   <button type="submit" form="delete<%=element._id%>" class="btn-quantity"> 
                     
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill " viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                    </svg>


                  </button>
                  </div>
                  </div>

                </div>
                  </td>
                  <td><%=element.price%></td>
                  <input type="hidden" name="<%=element.name%> " value="<%=element._id %>  ">
                  <td> <button type="submit" form="delete<%=element._id%>" class="btn-trash">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>

                  </button></td>

                </tr>
                <tr>
              <%});%>
             
              

            </tbody>
          </table>
          <p class="total">Total: <%= total %> ₹ </p>
          <div class="cart-btns">
            
          <a href="/" class="btn btn-cart">Shop More</a>
          <a href="#" class="btn btn-cart">BUY</a>
        </div>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
</div>


<%- include("partials/footer")-%> 