
        <%- include('partials/header'); -%>




<!-- gird  -->

<div class="container"> 
 
    <!-- each items -->
  
  <%  itemsFound.forEach(function(res){%>
    
  <div class="row">

    <%   res.forEach(item=>{ %>
      <div class="col-4 pm-zero">
        <div class="item-container">
               <div class="image-container">
             <img class="item-image" src="data:image/<%=item.img.contentType%>;base64,
             <%=item.img.data.toString('base64')%>" alt="pizza-image">
               </div>
               <p class="item-name pm-zero"><%= item.name %></p>
               <p class="price pm-zero"><%= item.price%>₹</p>
          </div>
      </div>
      <%}) %>
    </div>
    <%})%>
  

</div>


       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       <%- include('partials/footer'); -%>